{
	"parser": "babel-eslint",
	"env": {
		"es6": true // Promise 不需要定义了
	},
	"extends": "airbnb-base",
	"rules": {
		"no-trailing-spaces": "error",
		"no-unused-vars": ["error", { "varsIgnorePattern": "^regeneratorRuntime" }],
		"camelcase": "off",
		"import/prefer-default-export": "off",
		"arrow-parens": ["error", "as-needed"],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ]
	}
}